body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: "rgba(0, 0, 0, 0.3)";
}
/* Firefox 19+ */
::-moz-placeholder {
  color: "rgba(0, 0, 0, 0.3)";
}
/* IE 10+ */
:-ms-input-placeholder {
  color: "rgba(0, 0, 0, 0.3)";
}
/* Firefox 18- */
:-moz-placeholder {
  color: "rgba(0, 0, 0, 0.3)";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.field-line-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
