body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: 'rgba(0, 0, 0, 0.3)';
}
::-moz-placeholder { /* Firefox 19+ */
  color: 'rgba(0, 0, 0, 0.3)';
}
:-ms-input-placeholder { /* IE 10+ */
  color: 'rgba(0, 0, 0, 0.3)';
}
:-moz-placeholder { /* Firefox 18- */
  color: 'rgba(0, 0, 0, 0.3)';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.field-line:hover {
  text-decoration: underline;
  cursor: pointer;
}
